input {
    border: 1px solid #a29f9f;
    border-radius: 0.5em;
    padding: 1em;
    gap: 0.625em;
}

.input-text-div {
    display: flex;
    flex-direction: column;
    padding: 0.9375em 3.125em;
}
  
.input-text-div > label {
    margin: 1.25em 0 0.3125em 0;
}

.error {
    color: red;
    font-size: 10px;
    margin-top: 4px;
  }
  